.img{
    width: 150px;
}

h1{
    font-family: fantasy;
    color: red;
}

.blue-txt{
    background-color: blue;
    width: 100px;
    color: white;
    font-family: monospace;
    margin-bottom: 50px;
}

.replica{
    color: green;
    font-style: italic;
}
h2{
    background-color: purple;
    color: white;
}

.padding{
    padding: 50px;
}

.margin{
    margin-left: 100px;
}

li{
    border: 2px solid black;
    font-size: 25px;
}
